@import 'nib'

//colors
$color-primary = #3ebcff
$color-bg = #fff
$color-text = #272757
$color-text-hint = #5c5c85

//resolutions
$phone = 640px
$tablet = 768px
$notebook = 1024px
$desktop = 1600px

//params
$container-width = 1140px
$base-font = 16

.likearts-content .clients
	position relative
	width 100%
	height auto
	min-height 800px
	background-color #f4f6f8
	padding 0 0 100px 0

	&__container
		overflow hidden
		padding 0 15px

	&__breadcrumbs
		position relative
		padding 61px 0 48px 0
		@media (max-width $tablet)
			padding 30px 0

	&__title
		text-align left
		margin-bottom 37px
		@media (max-width $phone)
			font-size 'calc(20 / %s * 1rem)' %($base-font)
			margin-bottom 15px
	
	&__brands
		position relative
		display flex
		flex-flow row wrap
		justify-content center
		align-items center
		background-color #fff
		padding 60px
		@media (max-width $notebook)
			padding 30px

	&__brands-block
		width calc(33.3333% - 60px)
		height auto
		display flex
		flex-flow row wrap
		justify-content center
		align-items center
		margin 30px
		transition all .2s ease-in-out
		@media (max-width $notebook)
			width calc(50% - 60px)
		@media (max-width $phone)
			width calc(100% - 60px)