.likearts-content .wj-btn {
  position: relative;
  font-family: 'GothamPro', sans-serif;
  background-color: #3ebcff;
  color: #fff;
  border: none;
  -webkit-border-radius: 42px;
  border-radius: 42px;
  font-weight: 700;
  font-size: calc(18 / 16 * 1rem);
  line-height: 1.56;
  letter-spacing: 1px;
  padding: 27px 107px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0 17px 32px rgba(62,188,255,0.55);
  box-shadow: 0 17px 32px rgba(62,188,255,0.55);
}
@media (max-width: 768px) {
  .likearts-content .wj-btn {
    padding: 20px 60px;
    font-size: calc(16 / 16 * 1rem);
  }
}
@media (max-width: 640px) {
  .likearts-content .wj-btn {
    padding: 12px;
    width: 100%;
    font-size: calc(16 / 16 * 1rem);
  }
}
.likearts-content .wj-btn:hover {
  background-color: #42a5f5;
}
.likearts-content .wj-btn:focus {
  outline: none;
}
.likearts-content .wj-btn:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.likearts-content .wj-btn--transparent {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid #3ebcff;
  color: #3ebcff;
  padding: 24px 77px;
}
@media (max-width: 768px) {
  .likearts-content .wj-btn--transparent {
    padding: 20px 60px;
  }
}
@media (max-width: 640px) {
  .likearts-content .wj-btn--transparent {
    padding: 12px;
  }
}
.likearts-content .wj-btn--transparent:hover {
  border: 2px solid #42a5f5;
  background-color: #42a5f5;
  -webkit-box-shadow: 0 17px 32px rgba(62,188,255,0.55);
  box-shadow: 0 17px 32px rgba(62,188,255,0.55);
  color: #fff;
}
.likearts-content .wj-btn[disabled],
.likearts-content .wj-btn:disabled {
  cursor: not-allowed;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.likearts-content .wj-btn[disabled]:hover,
.likearts-content .wj-btn:disabled:hover {
  background-color: #3ebcff;
}
.likearts-content .loader {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 30px;
}
.likearts-content .loader:before {
  content: '';
  display: inline-block;
}
.likearts-content .loader .circular {
  -webkit-animation: rotate 2s linear infinite;
  -moz-animation: rotate 2s linear infinite;
  -o-animation: rotate 2s linear infinite;
  -ms-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.likearts-content .loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  -moz-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  -o-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  -ms-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}
@-moz-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-o-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-moz-keyframes color {
  100%, 0% {
    stroke: #e3f2fd;
  }
  40% {
    stroke: #ede7f6;
  }
  66% {
    stroke: #e8eaf6;
  }
  80%, 90% {
    stroke: #ede7f6;
  }
}
@-webkit-keyframes color {
  100%, 0% {
    stroke: #e3f2fd;
  }
  40% {
    stroke: #ede7f6;
  }
  66% {
    stroke: #e8eaf6;
  }
  80%, 90% {
    stroke: #ede7f6;
  }
}
@-o-keyframes color {
  100%, 0% {
    stroke: #e3f2fd;
  }
  40% {
    stroke: #ede7f6;
  }
  66% {
    stroke: #e8eaf6;
  }
  80%, 90% {
    stroke: #ede7f6;
  }
}
@keyframes color {
  100%, 0% {
    stroke: #e3f2fd;
  }
  40% {
    stroke: #ede7f6;
  }
  66% {
    stroke: #e8eaf6;
  }
  80%, 90% {
    stroke: #ede7f6;
  }
}
