@import 'nib'

//colors
$color-primary = #3ebcff
$color-bg = #fff
$color-text = #272757
$color-text-hint = #5c5c85

//resolutions
$phone = 640px
$tablet = 768px
$notebook = 1024px
$desktop = 1600px

//params
$container-width = 1140px
$base-font = 16

.likearts-content .wj-btn
	position relative
	font-family 'GothamPro', sans-serif
	background-color $color-primary
	color #fff
	border none
	border-radius 42px
	font-weight 700
	font-size 'calc(18 / %s * 1rem)' %($base-font)
	line-height 1.56
	letter-spacing 1px
	padding 27px 107px
	cursor pointer
	transition all .2s ease-in-out
	box-shadow 0 17px 32px rgba(62, 188, 255, 0.55)
	@media (max-width $tablet)
		padding 20px 60px
		font-size 'calc(16 / %s * 1rem)' %($base-font)
	@media (max-width $phone)
		padding 12px
		width 100%
		font-size 'calc(16 / %s * 1rem)' %($base-font)
	&:hover
		background-color #42A5F5
	&:focus
		outline none
	&:active
		transform scale(0.9)

	&--transparent
		background-color transparent
		box-shadow none
		border 2px solid #3ebcff
		color $color-primary
		padding 24px 77px
		@media (max-width $tablet)
			padding 20px 60px
		@media (max-width $phone)
			padding 12px
		&:hover
			border 2px solid #42A5F5
			background-color #42A5F5
			box-shadow 0 17px 32px rgba(62, 188, 255, 0.55)
			color #fff

	&[disabled],
	&:disabled
		cursor not-allowed
		opacity 0.8
		&:hover
			background-color $color-primary
		&:active
			transform scale(1)


$color1 = #E3F2FD
$color2 = #EDE7F6
$color3 = #E8EAF6

.likearts-content .loader
	position relative
	top 0
	left 0
	display inline-block
	width 30px
	&:before
		content ''
		display inline-block

	.circular
		animation rotate 2s linear infinite
		height 100%
		transform-origin center center
		width 100%
		position absolute
		top 0
		bottom 0
		left 0
		right 0
		margin auto

	.path
		stroke-dasharray 1, 200
		stroke-dashoffset 0
		animation dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite
		stroke-linecap round

@keyframes rotate
	100%
		transform rotate(360deg)

@keyframes dash
	0%
		stroke-dasharray 1, 200
		stroke-dashoffset 0
	50%
		stroke-dasharray 89, 200
		stroke-dashoffset -35px
	100%
		stroke-dasharray 89, 200
		stroke-dashoffset -124px

@keyframes color
	100%,
	0%
		stroke $color1
	40%
		stroke $color2
	66%
		stroke $color3
	80%,
	90%
		stroke $color2
