.likearts-content .logo {
  width: 185px;
  height: 45px;
  background-image: url("../../images/logo/logo.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1140px) {
  .likearts-content .logo {
    width: calc(185 / 1.5 * 1px);
    height: calc(45 / 1.5 * 1px);
  }
}
@media (max-width: 768px) {
  .likearts-content .logo {
    width: calc(185 / 1.8 * 1px);
    height: calc(45 / 1.8 * 1px);
  }
}
