.likearts-content .case-stats {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.likearts-content .case-stats__item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin-bottom: 10px;
}
@media (max-width: 1140px) {
  .likearts-content .case-stats__item {
    width: 100%;
  }
}
.likearts-content .case-stats__item-sign {
  color: #272757;
  font-size: calc(12 / 16 * 1rem);
  font-weight: 400;
  line-height: 1.17;
  text-transform: uppercase;
}
@media (max-width: 980px) {
  .likearts-content .case-stats__item-sign {
    text-align: center;
  }
}
@media (max-width: 640px) {
  .likearts-content .case-stats__item-sign {
    font-size: calc(10 / 16 * 1rem);
  }
}
.likearts-content .case-stats__item-count {
  color: #272757;
  font-size: calc(40 / 16 * 1rem);
  font-weight: 700;
  text-transform: uppercase;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin-right: 40px;
}
@media (max-width: 1140px) {
  .likearts-content .case-stats__item-count {
    max-width: 100%;
    margin-right: 0;
  }
}
@media (max-width: 980px) {
  .likearts-content .case-stats__item-count {
    text-align: center;
    font-size: calc(30 / 16 * 1rem);
  }
}
.likearts-content .case-stats__social {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 10px 0;
}
@media (max-width: 980px) {
  .likearts-content .case-stats__social {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.likearts-content .case-stats__social-item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.likearts-content .case-stats__social-separator {
  width: 1px;
  height: 25px;
  border-left: 1px dotted #000;
  margin: 0 16px;
}
.likearts-content .case-stats__social-count {
  color: #000;
  font-size: calc(20 / 16 * 1rem);
  font-weight: 400;
  line-height: 0.7;
  text-transform: uppercase;
}
.likearts-content .case-stats__social-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
}
.likearts-content .case-stats__social-icon--like {
  background-image: url("../../images/icons/svg/like.svg");
}
.likearts-content .case-stats__social-icon--comment {
  background-image: url("../../images/icons/svg/comment.svg");
}
