.likearts-content .custom-modal__close-btn {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3000;
}
@media (max-width: 768px) {
  .likearts-content .custom-modal__close-btn {
    right: 0;
  }
}
.likearts-content .custom-modal__btn {
  padding: 16px;
  font-size: calc(16 / 16 * 1rem);
}
.likearts-content .custom-modal__textarea {
  min-height: 150px;
}
@media (max-width: 900px) {
  .likearts-content .custom-modal__textarea {
    min-height: 100px;
  }
}
@media (max-width: 640px) {
  .likearts-content .custom-modal__textarea {
    min-height: 80px;
  }
}
