.likearts-content .cases {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 800px;
  background-color: #f4f6f8;
  padding: 0 0 100px 0;
}
.likearts-content .cases__container {
  overflow: hidden;
  padding: 0 15px;
}
.likearts-content .cases__breadcrumbs {
  position: relative;
  padding: 61px 0 48px 0;
}
@media (max-width: 768px) {
  .likearts-content .cases__breadcrumbs {
    padding: 30px 0;
  }
}
.likearts-content .cases__title {
  text-align: left;
  margin-bottom: 20px;
}
@media (max-width: 640px) {
  .likearts-content .cases__title {
    font-size: calc(20 / 16 * 1rem);
    margin-bottom: 15px;
  }
}
.likearts-content .cases__cards {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  margin: 0 -25px 80px -25px;
}
@media (max-width: 1650px) {
  .likearts-content .cases__cards {
    margin: 0 -15px 80px -15px;
  }
}
.likearts-content .cases__card {
  position: relative;
  width: calc(50% - 50px);
  height: auto;
  margin: 25px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 1650px) {
  .likearts-content .cases__card {
    width: calc(50% - 30px);
    margin: 15px;
  }
}
@media (max-width: 640px) {
  .likearts-content .cases__card {
    width: calc(100% - 30px);
  }
}
.likearts-content .cases .card__cover {
  max-height: 310px;
}
@media (max-width: 1140px) {
  .likearts-content .cases .card__cover {
    max-height: 270px;
  }
}
.likearts-content .cases .card__pic {
  max-height: 310px;
  filter: none;
}
@media (max-width: 1140px) {
  .likearts-content .cases .card__pic {
    max-height: 270px;
  }
}
