.likearts-content .contacts-page {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 800px;
  background-color: #f4f6f8;
}
.likearts-content .contacts-page__container {
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.likearts-content .contacts-page__column {
  width: 50%;
  height: auto;
}
@media (max-width: 900px) {
  .likearts-content .contacts-page__column {
    width: 100%;
  }
}
.likearts-content .contacts-page__column--left {
  position: relative;
}
.likearts-content .contacts-page__column--right {
  position: relative;
}
.likearts-content .contacts-page__content {
  width: 100%;
  max-width: 570px;
  height: auto;
  min-height: 800px;
  margin-left: auto;
  padding: 15px 60px 80px 15px;
}
@media (max-width: 1140px) {
  .likearts-content .contacts-page__content {
    padding: 15px;
  }
}
@media (max-width: 900px) {
  .likearts-content .contacts-page__content {
    max-width: none;
    margin-left: 0;
  }
}
.likearts-content .contacts-page__breadcrumbs {
  position: relative;
  padding: 61px 0 48px 0;
}
@media (max-width: 768px) {
  .likearts-content .contacts-page__breadcrumbs {
    padding: 30px 0;
  }
}
.likearts-content .contacts-page__title {
  text-align: left;
  margin-bottom: 37px;
}
@media (max-width: 640px) {
  .likearts-content .contacts-page__title {
    font-size: calc(20 / 16 * 1rem);
    margin-bottom: 15px;
  }
}
.likearts-content .contacts-page__pagination {
  position: relative;
  padding: 15px 0;
}
.likearts-content .contacts-page__info {
  border-top: 1px solid #dcdee0;
  border-bottom: 1px solid #dcdee0;
  padding: 47px 0;
}
.likearts-content .contacts-page__info-item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 38px;
}
@media (max-width: 1024px) {
  .likearts-content .contacts-page__info-item {
    margin-bottom: 18px;
  }
}
.likearts-content .contacts-page__info-item:last-child {
  margin-bottom: 0;
}
.likearts-content .contacts-page__info-icon {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 19px;
}
@media (max-width: 640px) {
  .likearts-content .contacts-page__info-icon {
    margin-right: 10px;
  }
}
.likearts-content .contacts-page__info-icon--phone {
  width: 23px;
  height: 23px;
  background-image: url("../../images/icons/phone@2x.png");
}
.likearts-content .contacts-page__info-icon--map {
  width: 25px;
  height: 32px;
  background-image: url("../../images/icons/map@2x.png");
}
.likearts-content .contacts-page__info-icon--email {
  width: 26px;
  height: 26px;
  background-image: url("../../images/icons/email@2x.png");
}
.likearts-content .contacts-page__info-sign {
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  color: #272757;
  font-size: calc(18 / 16 * 1rem);
  font-weight: 300;
  line-height: 1.11;
  text-decoration: none;
}
@media (max-width: 1024px) {
  .likearts-content .contacts-page__info-sign {
    font-size: calc(16 / 16 * 1rem);
  }
}
.likearts-content .contacts-page__info-sign--bold {
  font-weight: 500;
  font-size: calc(22 / 16 * 1rem);
}
@media (max-width: 1024px) {
  .likearts-content .contacts-page__info-sign--bold {
    font-size: calc(18 / 16 * 1rem);
  }
}
.likearts-content .contacts-page__form {
  padding-right: 90px;
}
@media (max-width: 1140px) {
  .likearts-content .contacts-page__form {
    padding-right: 0;
  }
}
.likearts-content .contacts-page__form-title {
  color: #272757;
  font-size: calc(28 / 16 * 1rem);
  font-weight: 900;
  margin: 47px 0;
}
@media (max-width: 1140px) {
  .likearts-content .contacts-page__form-title {
    font-size: calc(20 / 16 * 1rem);
  }
}
@media (max-width: 900px) {
  .likearts-content .contacts-page__form-title {
    margin: 30px 0;
  }
}
@media (max-width: 640px) {
  .likearts-content .contacts-page__map {
    display: none;
  }
}
