.likearts-content .case-card {
  position: relative;
  width: 100%;
  height: auto;
  background-color: transparent;
  overflow: hidden;
}
.likearts-content .case-card__content {
  padding: 44px 33px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  background-color: #fff;
}
@media (max-width: 980px) {
  .likearts-content .case-card__content {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .likearts-content .case-card__content {
    margin-top: 15px;
    padding: 0 30px 30px 30px;
  }
}
@media (max-width: 640px) {
  .likearts-content .case-card__content {
    padding: 0 15px 15px 15px;
  }
}
.likearts-content .case-card__separator {
  width: 100%;
  height: 1px;
  border-top: 1px dotted #e6e6e6;
  margin: 38px 0;
}
.likearts-content .case-card__content-col {
  width: calc(50% - 30px);
  margin: 0 15px;
}
@media (max-width: 980px) {
  .likearts-content .case-card__content-col {
    width: 100%;
    margin: 0;
  }
}
.likearts-content .case-card__content-col--45 {
  width: calc(45% - 30px);
}
@media (max-width: 980px) {
  .likearts-content .case-card__content-col--45 {
    width: 100%;
  }
}
.likearts-content .case-card__content-col--55 {
  width: calc(55% - 30px);
}
@media (max-width: 980px) {
  .likearts-content .case-card__content-col--55 {
    width: 100%;
  }
}
@media (max-width: 980px) {
  .likearts-content .case-card__detail {
    margin-top: 30px;
  }
}
.likearts-content .case-card__video {
  position: relative;
  width: auto;
  height: auto;
  min-height: 340px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
@media (max-width: 768px) {
  .likearts-content .case-card__video {
    margin: 0 -30px;
  }
}
@media (max-width: 640px) {
  .likearts-content .case-card__video {
    margin: 0 -15px;
    min-height: 270px;
  }
}
.likearts-content .case-card__video.js-is-hide {
  height: 100%;
}
.likearts-content .case-card__video.js-is-hide .case-card__video-item {
  height: 0px !important;
}
.likearts-content .case-card__video.js-is-hide .wj-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.likearts-content .case-card__video-item {
  width: 100%;
  height: 270px;
}
@media (max-width: 640px) {
  .likearts-content .case-card__video-item {
    height: 200px;
  }
}
.likearts-content .case-card .slick-list {
  margin-bottom: 20px;
}
.likearts-content .case-card .slick-dots {
  padding: 0;
  list-style: none;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.likearts-content .case-card .slick-dots li button {
  position: relative;
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.likearts-content .case-card .slick-dots li :before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: #cfdae0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.likearts-content .case-card li.slick-active :before {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 6px solid #3ebcff;
}
.likearts-content .case-card__dots-sign {
  color: #3ebcff;
  font-size: calc(12 / 16 * 1rem);
  font-weight: 900;
  line-height: 1.33;
  text-transform: uppercase;
  margin-right: 8px;
}
@media (max-width: 768px) {
  .likearts-content .case-card__dots-sign {
    display: none;
  }
}
.likearts-content .case-card__date-sign {
  color: #272757;
  font-size: calc(12 / 16 * 1rem);
  font-weight: 700;
  line-height: 1.58;
  margin-top: 20px;
}
@media (max-width: 980px) {
  .likearts-content .case-card__date-sign {
    text-align: center;
    margin-top: 14px;
  }
}
.likearts-content .case-card__desc {
  margin-top: 40px;
  padding-left: 19px;
  border-left: 3px solid #3ebcff;
}
@media (max-width: 640px) {
  .likearts-content .case-card__desc {
    margin-top: 20px;
  }
}
.likearts-content .case-card__desc p {
  color: #272757;
  font-size: calc(14 / 16 * 1rem);
  font-weight: 300;
  line-height: 1.46;
  margin: 0 0 10px 0;
}
.likearts-content .case-card__subtitle {
  color: #272757;
  font-size: calc(12 / 16 * 1rem);
  font-weight: 400;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 11px;
}
@media (max-width: 980px) {
  .likearts-content .case-card__subtitle {
    text-align: center;
  }
}
@media (max-width: 640px) {
  .likearts-content .case-card__subtitle {
    font-size: calc(10 / 16 * 1rem);
  }
}
