@import 'nib'

//colors
$color-primary = #3ebcff
$color-bg = #fff
$color-text = #272757
$color-text-hint = #5c5c85

//resolutions
$phone = 640px
$tablet = 768px
$notebook = 1024px
$desktop = 1600px

//params
$container-width = 1140px
$base-font = 16


.likearts-content .modals
	&__overlay
		display none
		position fixed
		top 0
		left 0
		right 0
		bottom 0
		width 100%
		height 100%
		background-color rgba(0, 0, 0, 0.8)
		z-index 1000

	.modals__overlay.js-is-open
		display block
		animation modal-motion-overlay-open .3s 1 ease-in-out
		animation-fill-mode forwards

	.modals__overlay.js-is-close
		animation modal-motion-overlay-close .3s 1 ease-in-out
		animation-fill-mode forwards

	.modal.js-is-open
		display block
		animation modal-motion-window-open .3s 1 ease-in-out
		animation-fill-mode forwards

	.modal.js-is-close
		animation modal-motion-window-close .3s 1 ease-in-out
		animation-fill-mode forwards

.likearts-content .modal
	display none
	position fixed
	top 50%
	left 50%
	transform translate(-50%, -50%)
	z-index 2000
	@media (max-width 900px)
		width calc(100% - 40px)

	&--success
		.modal-body
			background-color $color-primary
		
		.modal-body__content
			min-height 432px
			@media (max-width $phone)
				min-height 0

		.close-btn__icon
			color #fff!important

	&__close-btn
		display inline-block
		position absolute
		top 0
		right 0
		z-index 3000
		@media (max-width $tablet)
			right 0

	&__btn
		padding 16px
		font-size 'calc(16 / %s * 1rem)' % ($base-font)

	&__textarea
		min-height 150px
		@media (max-width 900px)
			min-height 100px
		@media (max-width $phone)
			min-height 80px

.likearts-content .modal-body
	width 100%
	max-width 800px
	height auto
	max-height calc(100vh - 40px)
	overflow auto
	background-color #fff
	padding 60px 120px
	@media (max-width 900px)
		padding 40px 30px
	@media (max-width $tablet)
		width 100%
		margin 0

	&__title
		font-size 'calc(28 / %s * 1rem)' % ($base-font)
		font-weight 900
		line-height 1.27
		margin 0 0 20px 0
		@media (max-width $tablet)
			font-size 'calc(18 / %s * 1rem)' % ($base-font)

	&__content
		display flex
		flex-flow row nowrap
		justify-content center
		align-items center
		min-width 300px
		@media (max-width 900px)
			min-width 0
		@media (max-width $tablet)
			flex-flow column wrap

@keyframes modal-motion-window-open
	0%
		transform translate(-50%, -50%) scale(0.1)
		opacity 0
		visibility hidden
	100%
		transform translate(-50%, -50%) scale(1)
		opacity 1
		visibility visible

@keyframes modal-motion-window-close
	0%
		transform translate(-50%, -50%) scale(1)
		opacity 1
		visibility visible
	100%
		transform translate(-50%, -50%) scale(0.1)
		opacity 0
		visibility hidden


@keyframes modal-motion-overlay-open
	0%
		opacity 0
		visibility hidden
	100%
		opacity 1
		visibility visible

@keyframes modal-motion-overlay-close
	0%
		opacity 1
		visibility visible
	100%
		opacity 0
		visibility hidden

.likearts-content .modals .close-btn
	position relative
	display inline-block
	width 60px
	height 60px
	user-select none
	cursor pointer

	&:hover
		.close-btn__icon
			color $color-primary

	&__icon
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		color #b2b2b2
		font-size 'calc(26 / %s * 1rem)' % ($base-font)
		transition color .2s ease-in-out

